*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  max-width: 1280;
  margin-left: 100px;
  margin-right: 100px;
}

.page-header-logo {
  text-decoration: none;
  font-weight: 400;
  font-size: 80px;
  color: black;
}

.accent-color {
  color: #4bcaff;
  font-weight: normal;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
  height: 72px;
  background-color:#35444F;;
  justify-content: center;
}

.menu-item-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.menu-item {
  border-right: 1px solid #fff;
  padding: 26px 35px 19px;
  cursor: pointer;
  transition: 1s;
}

.menu-item:first-child {
  border-left: 1px solid #fff;
}

.menu-item:hover {
  background-color: #222F3A;
  transition: 1s;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.side-menu {
  max-width: 344px;
  width: 100%;
}

.text-content {
  max-width: 885px;
  width: 100%;
}

.side-menu-items {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.side-menu-item-link {
  width: 100%;
  height: 100%;
}

.side-menu-item-link a {
  padding: 26px 0 25px 44px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
  width: 100%;
  transition: 1s;
  background-color: transparent;
}

.side-menu-item-link a:hover {
  background-color: #DBDBDB;
  transition: 1s;
  color: #35444F;
  padding-left: 60px;
}

.img-wrapper {
  padding: 75px 268px 73px 297px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 37px;
}

.text-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  height: 69px;
  margin-top: 40px;
}

.footer-list {
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
  height: 72px;
  justify-content: center;
}

.footer-list-link {
  padding-left: 40px;
  background-color: #B4B7B9;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

.footer-list-link a {
  text-decoration: none;
  color: #0C1927;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: 1s;
}

.footer-list-link a:hover {
  color: #3181A6;
  text-decoration: underline;
  transition: 1s;
}

.copyright {
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
color: #010101;
padding-right: 40px;
}

.main-image {
  transition: 1s;
}

.main-image:hover {
transform: scale(1.2)
}